@page
@using DataBase.Models
@model TravelGuide.Pages.Account.Edit

@{
}

<!DOCTYPE html>

<html>
<head>
    <title>Редактировать</title>
</head>
<body>
<div class="container">

    <form method="post">
        <input type="hidden" asp-for="Person.Id"/>
        <ul class="list-group">
            <div class="row">
                <div class="col-3 col-6-medium col-12-small"></div>
                <div class="col-3 col-6-medium col-12-small">
                    <li class="list-group-item">
                        <label asp-for="GetInfo.Email">Email</label>
                        <input type="text" asp-for="GetInfo.Email" class="form-control" value="@Model.Person.Email">
                        <span asp-validation-for="GetInfo.Email"></span>
                    </li>
                    <li class="list-group-item">
                        <label asp-for="GetInfo.PhoneNumber">Phone</label>
                        <input type="text" asp-for="GetInfo.PhoneNumber" class="form-control" value="@Model.Person.PhoneNumber">
                        <span asp-validation-for="GetInfo.PhoneNumber"></span>
                    </li>
                </div>
                <div class="col-3 col-6-medium col-12-small">
                    <li class="list-group-item">
                        <label asp-for="GetInfo.Password">Пароль</label>
                        <input type="password" class="form-control" asp-for="GetInfo.Password" value="@Model.Person.Password">
                        <span class="text-danger" asp-validation-for="GetInfo.Password"></span>
                    </li>
                    <li class="list-group-item">
                        <label asp-for="GetInfo.PasswordConfirm">Опять пароль</label>
                        <input type="password" class="form-control" asp-for="GetInfo.PasswordConfirm" value="@Model.Person.Password">
                        <span class="text-danger" asp-validation-for="GetInfo.PasswordConfirm"></span>
                    </li>
                </div>
                <div class="col-3 col-6-medium col-12-small">
                    <li class="list-group-item small">
                        <input type="submit" class="btn btn-success btn-ms btn-block" value="Изменить" asp-page-id="@Model.Person.Id">
                    </li>
                </div>
            </div>
        </ul>
    </form>

</div>
</body>
</html>