@page
@model TravelGuide.Pages.RentalApartment
@using System.Net
@using Microsoft.AspNetCore.Http

@{
    ViewData["Title"] = "Аренда";
}
<div class="container">
    <div class="row">
        <div class="col-lg-3 col-sm-12">
            <div class="sidebar">
                <ul class="divided">
                    <li>
                        <article class="box post-summary">
                            <h3>
                                @if (User.Identity.IsAuthenticated
                                     || HttpContext.Session.GetString("id") != null)
                                {
                                    <a class="btn btn-success btn-block" asp-page="./Create">Создать объявление</a>
                                }
                                else
                                {
                                    <a class="btn btn-outline-success btn-block" asp-page="/Account/Authorization">Создать объявление</a>
                                }
                            </h3>
                        </article>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-sm-12 col-lg-9">
            @foreach (var add in Model.Advertisements)
            {
                <div class="card mb-3">
                    <div class="row g-0">
                        <div class="col-md-4 mt-3">
                            @{
                                var mas = add.Address.Split(";");
                                var fg = false;
                                var url = "/images/RentImg/" + mas[0];
                                <img src="@url" alt="" class="img-fluid"/>
                            }
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <a asp-page="./AdPage" asp-route-id=@add.Id class="text-dark">
                                    <small class="text-muted">Описание квартиры</small>
                                    <p class="card-text">@add.Info</p>
                                </a>
                                <small class="text-muted">
                                    <strong>Срок сдачи:</strong> @add.Duration
                                </small><br/>
                                <small class="text-muted">
                                    <strong>Колличество комнат:</strong> @add.Rooms
                                </small><br/>
                                <small class="text-muted">
                                    <strong>Контакты:</strong> @add.Person.PhoneNumber @add.Person.FirstName @add.Person.LastName
                                </small><br/>
                                @if (User.Identity.Name == add.PersonId.ToString()
                                     || HttpContext.Session.GetInt32("id") == add.PersonId)
                                {
                                    <a asp-page="./Delete" class="btn btn-outline-secondary" asp-route-id=@add.Id>Удалить</a>
                                    <a asp-page="./Edit" class="btn btn-outline-secondary" asp-route-id=@add.Id>Изменить</a>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
